/* Reset de márgenes y padding por defecto en el body y html */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

}

/* HEADER */
header {
    text-align: center;
    padding: -30rem;
}

.episode-list{
    margin-top: 3rem;
}
   


/* SIDEBAR */
.sidebar_style {
    float: left; /* Hace que la sidebar flote a la izquierda */
    width: 400px; /* Ancho de la sidebar */
    height: 100%; /* Ocupa toda la altura disponible */
    padding: 20px;

}

/* SIDEBAR LIST */
.list-group {
    margin-bottom: 1rem;
    margin-left: 4rem;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
   

}

.custom-list-item:hover {
    color:#0DACCA;
    font-weight: 600;
    

}

ul .list-group-item.active {
    background-color: #0DACCA;
    transition:cubic-bezier(1, 0, 0, 1);
}


/* SIDEBAR BUTTON */
.sidebar-button {
    display: block;
    margin-left: 2rem;
    width: 50%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #D2DA4C;
    color: white;
    font-weight: 600;
    border: 1rem, #0DACCA;
    border-radius: 1rem;

    cursor: pointer;
}

/* Estilo para el main container */
.main-style {
    margin-left: 220px; /* Ajusta el margen izquierdo para dejar espacio para la sidebar */
    text-align: center;
    font-family:'Courier New', Courier, monospace;

}

/* Estilo para el contenido dentro del main container */
.container-style {
    padding: 20px;
    /* border: 1px solid #ccc; */
    margin: 20px auto; /* Centra el main container */
    max-width: 600px; /* Establece el ancho máximo del main container */
}

#character-container {
    display: none;
  }

  #character-detail-container {
    display: none;
  }

  #episode-list {
    max-height: 300px;  
    max-width: 150px; 
    overflow-y: auto;

    
    
  }

